#user, #description, #image{
    /* background-color: aqua; */
    display: block;
   
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: blueviolet; */
}
#section2{
    background-color: brown;
}